<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Helper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div class='container'>
        <div class='header'>
            <h1>Blackjack Helper</h1>
            <h3>How To Play</h3>
        </div>
        <div class='main_content'>
            <div class='dealer_hand'>
                <h3>Dealer Hand</h2>
                <div class="cards">
                    {% for card in last_game.comp_cards %}
                    <p>{{card}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class='your_hand'>
                <h3>Your Hand</h2>
                <div id="user" class="cards">
                    {% for card in last_game.user_cards %}
                    <p>{{card}}</p>
                    {% endfor %}
                    
                </div>
                <button id="hit"><a href="hit">Hit</a></button>
                <button id="stand">Stand</button>
            </div>
            <form action="create" method="POST">
                {% csrf_token %}
            <label for="number">Number of Decks:</label>
            <input type="text" id="number" name='number'>
            <input type="submit" value="Let's Play">
            </form>
            
        </div>
        <div class='prob_bar'>
            <h4>Probabilities</h4>
        </div>

    </div>
    <!--script type="text/javascript" src="{% static 'js/index.js' %}"></script-->
</body>
</html>